<template>
  <div class="create-form p-2">
    <h1>Add Product</h1>
    <div class="border border-secondary">
      <div class="product-name-input p-3">
        <p>Name :</p>
        <input type="text" v-model="product.name" />
      </div>
      <div class="product-name-input p-3">
        <p>title :</p>
        <input type="text" v-model="product.title" />
      </div>
      <div class="product-name-input p-3">
        <p>Price :</p>
        <input type="text" v-model.number="product.price" />
      </div>
      <div class="button-create p-3">
        <button class="btn btn-primary" @click="addNewProduct">Add New</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {
        id: "",
        name: "",
        title: "",
        price: 0
      }
    };
  },
  methods: {
    async addNewProduct() {
      let response = await this.axios.post("api/products/store", {
        name: this.product.name,
        title: this.product.title,
        price: this.product.price
      });
      this.$emit("createProductData", this.product);
    }
  }
};
</script>

<style scoped>
</style>