<template>
  <div class="create-form p-2">
    <h1>Edit Product</h1>
    <div class="border border-secondary">
      <div class="product-name-input p-3">
        <p>Name :</p>
        <input type="text" v-model="product.name" />
      </div>
      <div class="product-name-input p-3">
        <p>title :</p>
        <input type="text" v-model="product.title" />
      </div>
      <div class="product-name-input p-3">
        <p>Price :</p>
        <input type="text" v-model.number="product.price" />
      </div>
      <div class="button-create p-3">
        <button @click="editProduct()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {
        id: "",
        name: "",
        title: "",
        price: 0
      }
    };
  },
  created() {
    this.axios.defaults.baseURL = "http://localhost:11400/";
    let id = this.$route.params.id;
    this.getProductById(id);
  },
  methods: {
    async getProductById(id){
        let response = await this.axios.get('api/products/edit/'+id);
        this.product.id = response.data.result[0].Id;
        this.product.name = response.data.result[0].Name;
        this.product.title = response.data.result[0].Title;
        this.product.price = response.data.result[0].Price;
    },
    async editProduct(){
      let response = await this.axios.put('api/products/update/'+this.product.id,
      {
        name : this.product.name,
        title : this.product.title,
        price : this.product.price,

      });
      this.$router.push({ name: 'product' })
    }
  }
};
</script>

<style scoped>
</style>