<template>
  <div class="container">
    <div class="router-button mb-2">
      <!-- <router-link :to="{ name: 'list-team' }">List Teams</router-link> -->
    </div>
    <div class="api-calling">
      <div class="error" v-if="errors.length">
        <span v-for="err in errors" :key="err.id">{{ err }}</span>
        <hr />
      </div>
      <div class="notification" v-if="notifications.length">
        <span v-for="noti in notifications" :key="noti.id">{{ noti }}</span>
        <hr />
      </div>
      <!-- create product form -->
      <CreateProductComponent @createProductData="addNewDataProduct"></CreateProductComponent>

      <div id="table product">
        <h1>List Product</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name Product</th>
              <th>Title</th>
              <th>Price</th>
              <th>Control</th>
            </tr>
          </thead>
          <tbody v-if="Object.keys(listProducts).length != 0">
            <tr v-for="(item,index) in listProducts" :key="item.Id">
              <td>{{item.Name}}</td>
              <td>{{item.Title}}</td>
              <td>{{item.Price}}</td>
              <td>
                <button @click="deleteProduct(item,index)" class="btn btn-danger">Delete</button>
                <router-link
                  class="btn btn-primary"
                  :to="{ name: 'edit',params:{id : item.Id} }"
                >Update</router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import CreateProductComponent from "./CreateProductComponent";
export default {
  components: {
    CreateProductComponent
  },
  data() {
    return {
      indexRecord: "",
      product: {
        id: "",
        name: "",
        title: "",
        price: 0
      },
      notifications: [],
      errors: [],
      listProducts: []
    };
  },
  created() {
    this.axios.defaults.baseURL = "http://localhost:11400/";
    this.getListProduct();
  },
  methods: {
    async getListProduct() {
      let response = await this.axios.get("api/products/getListProduct");
      this.listProducts = response.data.result;
    },
    async deleteProduct(product, index) {
      this.emptyNotiAndError();
      let response = await this.axios.delete("api/products/" + product.Id);
      this.listProducts.splice(index, 1);
      this.notifications.push(response.data.result);
    },
    emptyNotiAndError() {
      this.notifications = [];
      this.errors = [];
    },
    addNewDataProduct(data) {
      this.emptyNotiAndError();
      this.getListProduct();
    }
  }
};
</script>

<style scoped>
.error {
  color: red;
}
.notification {
  color: blue;
}
</style>
